.hero {
    --hero-color: var(--color-black);
    --hero-contrast: var(--color-white);
    display: flex;
    flex-direction: column;
}

.hero--black {
    --hero-color: var(--color-black);
}

.hero--grey {
    --hero-color: var(--color-grey);
}

.hero--dark-blue {
    --hero-color: var(--color-dark-blue);
}

.hero--dark-teal {
    --hero-color: var(--color-dark-teal);
}

.hero--dark-magenta {
    --hero-color: var(--color-dark-magenta);
}

.hero__wrapper {
    background-color: var(--hero-color);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;
    padding-top: 8px;
}

.hero__title {
    color: var(--hero-contrast);
    font-size: var(--font-size-T600);
    line-height: var(--line-height-T600);
    font-weight: var(--font-weight-bold);
}

.hero__subtitle {
    color: var(--hero-contrast);
    font-size: var(--font-size-T400);
    line-height: var(--line-height-T400);
    font-weight: var(--font-weight-light);
}
