.footer {
    background-color: var(--color-dark-magenta);
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap);
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-gap);
    margin: var(--spacing-lg) 0;
    list-style: none;
    padding: 0;
}

@media (min-width: 48em ) {
    .footer__links {
        display: flex;
    }
}

.footer__legals {
    font-size: var(--font-size-T200);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    color: var(--color-white);
    padding: 0 0 var(--spacing-lg)  ;
}

.link {
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    font-size: var(--font-size-T300);
    text-decoration-thickness: 2px;
    text-decoration: none;
    padding: 2px;
    margin: -2px;
    transition: color 150ms ease-out;
}

.link--active {
    text-decoration: underline;
}

.link:hover {
    color: var(--color-light-yellow);
}

.link:focus {
    box-shadow: var(--focus-box-shadow);
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
}
