.article {
    --background-gradient: linear-gradient(to top left, var(--color-dark-blue), var(--color-light-blue));
    background: var(--background-gradient);
    transition: box-shadow var(--transition-time-fast) linear;
    text-decoration: none;
    padding: 4px;
    display: flex;
    position: relative;
}

@media (forced-colors: active) {
    .article {
        border: 2px solid transparent;
    }
}

.article:focus-within {
    box-shadow: var(--focus-box-shadow-invert);
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
}

.article--featured {
    box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.3);
    --background-gradient: linear-gradient(to top left, var(--color-dark-magenta), var(--color-orange));
}

.article__wrapper {
    position: relative;
    display: grid;
    height: 100%;
    gap: 8px;
    background-color: var(--color-dark-teal);
}

.article__image {
    outline: 0;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
    height: 100%;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.article__content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 16px;
    z-index: 1;
}

.article__title {
    color: var(--color-white);
    text-decoration: underline;
    text-decoration-color: var(--color-off-white);
    transition: var(--transition-time-fast) linear;
    transition-property: color, box-shadow, margin, padding;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-T200);
    line-height: var(--line-height-T200);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.article__title:focus {
    outline: none;
}

.article--featured .article__title {
    font-size: var(--font-size-T300);
    line-height: var(--line-height-T300);
}

.article__title::before {
    position: absolute;
    content: '';
    inset: 0;
}

.article__description {
    font-size: var(--font-size-T200);
    line-height: var(--line-height-T200);
    color: var(--color-white);
}

.article__date {
    font-size: var(--font-size-T200);
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: var(--color-white);
}

.article--featured .article__date {
    flex-direction: row-reverse;
    margin-bottom: 16px;
}

.article__date-icon {
    width: var(--font-size-T200);
    margin-bottom: 4px;
}


@media (min-width: 48em) {

    .article--featured {
        grid-column: span 2;
    }

    .article--featured .article__wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    .article--featured .article__image {
        aspect-ratio: 4/3;
    }

    .article--featured .article__content {
        padding: 32px 32px 32px 0;
    }

}
