.articles {
    display: grid;
    gap: 32px;
    grid-auto-flow: dense;
    margin-bottom: 48px;
    margin-top: 32px;
}

@media (min-width: 48em) {
    .articles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 64em) {
    .articles {
        grid-template-columns: repeat(3, 1fr);
    }
}
