:root {
    --font-family: 'Josefin Sans', sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --font-weight-heavy: 700;

    --font-size-T200: 1rem;
    --line-height-T200: 1.5em;
    --font-size-T300: 1.2rem;
    --line-height-T300: 1.5em;
    --font-size-T400: 1.5rem;
    --line-height-T400: 1.7em;
    --font-size-T500: 1.7rem;
    --line-height-T500: 1.5em;
    --font-size-T600: 2.5rem;
    --line-height-T600: 1.2em;
    --font-size-T700: 3rem;
    --line-height-T700: 1.2em;
}
