:root {
    --focus-box-shadow:
            0 0 0 2px var(--color-light-yellow),
            0 0 0 4px var(--color-magenta);
    --focus-outline: 2px solid transparent;
    --focus-outline-offset: 2px;

    --transition-time-fast: 150ms;
    --transition-time-medium: 300ms;
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --transition-time-fast: 0;
        --transition-time-medium: 0;
    }
}
