.assets {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;
    max-width: 800px;
    margin: auto;
}

.assets::-webkit-scrollbar {
    background-color: var(--color-dark-teal);
    height: 6px;
}

.assets::-webkit-scrollbar-thumb {
    background: var(--color-light-teal);
}


.asset {
    display: flex;
    flex: 1;
    max-width: max-content;
    align-content: center;
    align-items: center;
    background-color: rgb(255 255 255 / 10%);
    padding: 16px;
    height: 100%;
    position: relative;
    scroll-snap-align: center;
    scroll-snap-stop: normal;
    border: 2px solid transparent;
}

@media (forced-colors: active) {
    .asset:before,
    .asset:after {
        display: none;
    }

}


.asset:before,
.asset:after {
    position: absolute;
    content: '';
    pointer-events: none;
    height: 50%;
    width: 50%;
    opacity: 0.25;
}

.asset:before {
    right: 4px;
    top: 6px;
    border-top: 3px solid var(--color-light-teal);
    border-right: 3px solid var(--color-light-teal);
}

.asset:after {
    left: 4px;
    bottom: 6px;
    border-left: 3px solid var(--color-light-teal);
    border-bottom: 3px solid var(--color-light-teal);
}


.asset:focus,
.asset__media:focus,
.asset__media button:focus {
    box-shadow: var(--focus-box-shadow);
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
}


.asset__media {
    max-height: 500px;
    min-width: 280px;
    max-width: 100%;
    object-fit: contain;
}


@media (min-width: 48em) {
    .assets {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        overflow-x: unset;
    }


    .assets--single {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .assets--single .asset {
    }

    .assets--single .asset__media {
        max-width: max-content;
    }

    .assets--multiple-3 .asset:not(:nth-child(3n+1)) .asset__media {
        max-height: 200px;
    }

    .assets--multiple-3 .asset:nth-child(3n+1) {
        grid-row: span 2;
    }

    .assets--multiple-4 .asset__media {
        max-height: 250px;
    }

}

