.hex-separator {
    height: 22px;
    background-size: 50px 50px;
    background-position-y: -18px;
    background-repeat: repeat-x;
}

.hex-separator--color-black {
    background-image: url('../../../public/hexagons/black.svg');
}

.hex-separator--color-dark-blue {
    background-image: url('../../../public/hexagons/dark-blue.svg');
}

.hex-separator--color-dark-teal {
    background-image: url('../../../public/hexagons/dark-teal.svg');
}

.hex-separator--color-dark-magenta {
    background-image: url('../../../public/hexagons/dark-magenta.svg');
}

.hex-separator--color-dark-purple {
    background-image: url('../../../public/hexagons/dark-purple.svg');
}

.hex-separator--color-grey {
    background-image: url('../../../public/hexagons/grey.svg');
}


