.container {
    width: 100%;
    max-width: var(--container-max-width);
    padding-left: var(--spacing-gutter);
    padding-right: var(--spacing-gutter);
    margin-left: auto;
    margin-right: auto;
}
