.text-blok {
    display: grid;
    gap: var(--spacing-xl);
}

.text-blok__heading {
    font-size: var(--font-size-T500);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-T500);
    color: var(--color-light-yellow);
}

.text-blok__subheading {
    font-size: var(--font-size-T400);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-T400);
    color: var(--color-off-white);
}

.text-blok__heading + .text-blok__subheading {
    margin-top: -16px;
}
