@import "~modern-css-reset";
@import "./theme";

html,
body {
    font-family: var(--font-family);
    background-color: var(--color-dark-teal);
    overflow-x: hidden;
}

@media (forced-colors: active) {
    svg.svg-inline--fa {
        color: text;
    }
}

@media (prefers-contrast: less) {
    body {
        filter: sepia(0.5);
    }
}
